-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: military_asset_management
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset_balances`
--

DROP TABLE IF EXISTS `asset_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_balances` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `opening_balance` int NOT NULL,
  `base_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKfr1qactysogkus6crlq7w0k7y` (`base_id`,`equipment_type_id`),
  KEY `FKdkrjs5jwmum4a9wsv39elepi2` (`equipment_type_id`),
  CONSTRAINT `FK9helsxqsg8xb2ldomgrrpduy1` FOREIGN KEY (`base_id`) REFERENCES `bases` (`id`),
  CONSTRAINT `FKdkrjs5jwmum4a9wsv39elepi2` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_balances`
--

LOCK TABLES `asset_balances` WRITE;
/*!40000 ALTER TABLE `asset_balances` DISABLE KEYS */;
INSERT INTO `asset_balances` VALUES (1,100,1,1),(2,250,1,2),(3,1000,1,3),(4,80,1,4),(5,80,2,1),(6,180,2,2),(7,800,2,3),(8,60,2,4),(9,60,3,1),(10,140,3,2),(11,700,3,3),(12,50,3,4);
/*!40000 ALTER TABLE `asset_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignments`
--

DROP TABLE IF EXISTS `assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assignments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_date` date NOT NULL,
  `personnel_name` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `status` enum('ACTIVE','RETURNED') NOT NULL,
  `base_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm52v5emj0s4ch6qyqhf6oltu0` (`base_id`),
  KEY `FKgfk2jwgv985il072cuyt95997` (`equipment_type_id`),
  CONSTRAINT `FKgfk2jwgv985il072cuyt95997` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`),
  CONSTRAINT `FKm52v5emj0s4ch6qyqhf6oltu0` FOREIGN KEY (`base_id`) REFERENCES `bases` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignments`
--

LOCK TABLES `assignments` WRITE;
/*!40000 ALTER TABLE `assignments` DISABLE KEYS */;
INSERT INTO `assignments` VALUES (1,'2026-09-28','John Doe',20,'ACTIVE',1,1);
/*!40000 ALTER TABLE `assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(255) NOT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `entity_id` bigint DEFAULT NULL,
  `entity_type` varchar(255) NOT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjs4iimve3y0xssbtve5ysyef0` (`user_id`),
  CONSTRAINT `FKjs4iimve3y0xssbtve5ysyef0` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES (1,'CREATE_PURCHASE','Purchased 100 Vehicle for Bangalore Base',1,'PURCHASE',NULL,'2026-09-28 17:07:57.041943',3),(2,'CREATE_TRANSFER','Transferred 50 Vehicle from Bangalore Base to Chennai Base',1,'TRANSFER',NULL,'2026-09-28 18:10:15.597624',3),(3,'CREATE_ASSIGNMENT','Assigned 20 Vehicle to John Doe',1,'ASSIGNMENT',NULL,'2026-09-28 18:16:40.779250',2),(4,'CREATE_EXPENDITURE','Expended 10 Vehicle at Bangalore Base',1,'EXPENDITURE',NULL,'2026-09-28 18:28:12.719951',2);
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bases`
--

DROP TABLE IF EXISTS `bases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `location` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKji1wujytmfp28mst0mrqo6aa2` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bases`
--

LOCK TABLES `bases` WRITE;
/*!40000 ALTER TABLE `bases` DISABLE KEYS */;
INSERT INTO `bases` VALUES (1,'Bangalore','Bangalore Base'),(2,'Chennai','Chennai Base'),(3,'Hyderabad','Hyderabad Base');
/*!40000 ALTER TABLE `bases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_types`
--

DROP TABLE IF EXISTS `equipment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_types` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhplmo7axied1halm0jdvb0s6j` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_types`
--

LOCK TABLES `equipment_types` WRITE;
/*!40000 ALTER TABLE `equipment_types` DISABLE KEYS */;
INSERT INTO `equipment_types` VALUES (1,'Transport','Vehicle'),(2,'Arms','Weapon'),(3,'Consumable','Ammunition'),(4,'Communication','Communication Equipment');
/*!40000 ALTER TABLE `equipment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenditures`
--

DROP TABLE IF EXISTS `expenditures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenditures` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expenditure_date` date NOT NULL,
  `quantity` int NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `base_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKegudip6r0gtcpyhd9nu5bojgr` (`base_id`),
  KEY `FKiae0nha50g0og2d3cc356yy85` (`equipment_type_id`),
  CONSTRAINT `FKegudip6r0gtcpyhd9nu5bojgr` FOREIGN KEY (`base_id`) REFERENCES `bases` (`id`),
  CONSTRAINT `FKiae0nha50g0og2d3cc356yy85` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenditures`
--

LOCK TABLES `expenditures` WRITE;
/*!40000 ALTER TABLE `expenditures` DISABLE KEYS */;
INSERT INTO `expenditures` VALUES (1,'2026-09-28',10,'John Doe',1,1);
/*!40000 ALTER TABLE `expenditures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchases`
--

DROP TABLE IF EXISTS `purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `purchase_date` date NOT NULL,
  `quantity` int NOT NULL,
  `reference_number` varchar(255) DEFAULT NULL,
  `base_id` bigint NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKftubicnkdkjxj8dxbdfh15exn` (`base_id`),
  KEY `FKl8wnapciq105wi29v1war8yst` (`equipment_type_id`),
  CONSTRAINT `FKftubicnkdkjxj8dxbdfh15exn` FOREIGN KEY (`base_id`) REFERENCES `bases` (`id`),
  CONSTRAINT `FKl8wnapciq105wi29v1war8yst` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchases`
--

LOCK TABLES `purchases` WRITE;
/*!40000 ALTER TABLE `purchases` DISABLE KEYS */;
INSERT INTO `purchases` VALUES (1,'2026-09-28 17:07:57.026084','2026-09-28',100,'PO-001',1,1);
/*!40000 ALTER TABLE `purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfers`
--

DROP TABLE IF EXISTS `transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `quantity` int NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `status` enum('CANCELLED','COMPLETED') NOT NULL,
  `transfer_date` date NOT NULL,
  `equipment_type_id` bigint NOT NULL,
  `from_base_id` bigint NOT NULL,
  `to_base_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcyr8v4236ksy6j4hu9hxvsm86` (`equipment_type_id`),
  KEY `FKey2fnrjf4tthac9vmjv4p37t4` (`from_base_id`),
  KEY `FKbygujo0me1kwidph3r3wi6ppe` (`to_base_id`),
  CONSTRAINT `FKbygujo0me1kwidph3r3wi6ppe` FOREIGN KEY (`to_base_id`) REFERENCES `bases` (`id`),
  CONSTRAINT `FKcyr8v4236ksy6j4hu9hxvsm86` FOREIGN KEY (`equipment_type_id`) REFERENCES `equipment_types` (`id`),
  CONSTRAINT `FKey2fnrjf4tthac9vmjv4p37t4` FOREIGN KEY (`from_base_id`) REFERENCES `bases` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfers`
--

LOCK TABLES `transfers` WRITE;
/*!40000 ALTER TABLE `transfers` DISABLE KEYS */;
INSERT INTO `transfers` VALUES (1,'2026-09-28 18:10:15.575265',50,'Routine vehicle transfer','COMPLETED','2026-09-28',1,1,2);
/*!40000 ALTER TABLE `transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','BASE_COMMANDER','LOGISTICS_OFFICER') NOT NULL,
  `username` varchar(255) NOT NULL,
  `base_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`),
  KEY `FK42vye4llcsjlhu40luxer3s2q` (`base_id`),
  CONSTRAINT `FK42vye4llcsjlhu40luxer3s2q` FOREIGN KEY (`base_id`) REFERENCES `bases` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'System Administrator','$2a$10$uq0f1b2UqGI9mwY5OXODg.SQyVUCBHOFmwiOXFCI0QGLLjCPxQuJe','ADMIN','admin',NULL),(2,'Bangalore Base Commander','$2a$10$hgKdqKGJXAIV1yr3aGZAD.rP3ilaLRFF93VdZTM4Gkts.ze0OAhkW','BASE_COMMANDER','commander',1),(3,'Logistics Officer','$2a$10$f1xmaB/lIP.xnx21rlxr0.sPyyj3/6yefioifxvrTvafB5i0.BO8K','LOGISTICS_OFFICER','logistics',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-28 21:27:37
